html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#background-image {
    background-color: #000;
    background-image: url(../images/sheetmusicmapblue.png);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#login-container * {
    box-sizing: border-box;
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    line-height: 1rem;
}

#login-container {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    width: 80%;
}

#input-container {
    border-right: 1px solid #999;
    float: left;
    padding: .3rem;
    width: 25rem;
}

#input-container h2 {
    color: #FFFF00;
    text-align: center;
}

#input-container input[type="text"], 
#input-container input[type="email"],
#input-container input[type="password"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    display: block;
    height: 1.8rem;
    line-height: 1.8rem;
    width: 90%;
}