html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#background-image {
    background-color: #000;
    background-image: url(../images/sheetmusicmapblue.png);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#login-container * {
    box-sizing: border-box;
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1rem;
    background-color: #000066;
    padding-bottom: .5rem;
}

#login-container {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    width: 85%;
}

#input-container {
    border-right: 1px solid #999;
    float: left;
    padding: .3rem;
    width: 25rem;
}

#input-container h1 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#input-container input[type="text"], 
#input-container input[type="email"],
#input-container input[type="password"] {
    border: 0;
    border-bottom: 1px solid #fff;
    display: block;
    height: 1.7rem;
    line-height: 2rem;
    margin-left: 1rem;
    width: 90%;
    margin-top: .5rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  1;
   font-size: 1rem;
   margin-left: 1rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
   font-size: 1rem;
   margin-left: 1rem;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
   font-size: 1rem;
   margin-left: 1rem;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
   font-size: 1rem;
   margin-left: 1rem;
}

::placeholder { 
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

#input-container label {
    color: #FFF;
    font-size: 1.3rem;
    margin-top: .9rem;
    margin-left: 1rem;
}

#input-container button {
    background-color: #000066;
    border: 2px solid #fff;
    border-radius: 125rem;
    color: #fff;
    display: block;
    font-size: 1.2rem;
    height: 3rem;
    letter-spacing: .05rem;
    margin: 1rem auto;
    text-transform: uppercase;
    width: 90%;
}

#input-container button:hover,
#hide-login:hover,
#hide-signup:hover {
    cursor: pointer;
}

.has-account--text {
    text-align: center;
}

.has-account--text span {
    font-weight: bold;
    font-size: 1rem;
}

#signup-form {
    display: none;
}

#input-container .error-message {
    font-size: .8rem;
    padding: 4px;
}

#login-text {
    background-color: transparent;
    display: table-cell;
    padding: 2.5rem;
}

#login-text * {
    background-color: transparent;
}

#login-text h1 {
    color: #07d159;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.2rem;
}

#login-text h2 {
    margin: 2rem 0;
}

#login-text ul {
    padding: 0;
}

#login-text li {
    font-size: 1.2rem;
    list-style-type: none;
    padding: .6rem;
}